name: Build Geode Mod

on:
  push:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: geode-sdk/build-geode-mod@main
        id: build
        with:
          sdk: v4.10.2
          target: Android64
      
      - uses: actions/upload-artifact@v4
        with:
          name: notification-mod
          path: ${{ steps.build.outputs.build-output }}
